@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

#header{
       
}

#bt-subs{
    
    color: #f3f3f3;
}
#menu a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;

}

#menu button{
    font-size: 18px;
    font-weight: bold;
}

.logo {
    max-width: 80%;
    max-height: 100px;
    border-radius: 40%;
}

.tuning h3{
    color: ;
}

.carousel-inner{
    max-height: 30rem;

    
}

#mid-section{
    
}

.map {
    background: url(../images/map.png);
    width: 100%;
    height: 500px;
}

#local {
    background-color: #f3f3f3;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 50%;
    margin-left: 100px;
    padding-top: 150px;
}

#number_local div {
    padding: 0 20px 0 0;    
    height: 48px;
}

#number_local div:not(:last-child){
    border-right: 2px solid #3f3f3f;

}

#number_local div:not(:first-child){
    padding-left: 20px;

}

#number_local p {
    margin: 0;
}

.bg-contact{
    position:relative;
    top: -130px;

}

#contact{
    background-color: #1b2a4e;
    min-height: 200px;
    position: relative;

}

#container-form {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 4px #3f3f3f;
    border-radius: 5px;
    max-width: 500px;
}

#form-title {
    color: #f3f3f3;
}

#button {
    background: #1b2a4e !important;
    color: #f3f3f3;
}


footer {
    background: #1b2a4e;
    min-height: 100px;
    color: #f3f3f3 !important; 
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

.icons i{
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
}

#menu2 a{
    font-size: 18px;    
    color: #fff;

}

.tuning-container {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;   
}
.bestsearch{
    
}
@media (max-width: 1200px){
    #local {
        flex-wrap: wrap;
        padding-top: 30px;
        
    }

    .wrapper {
        width: 90%;
        margin: auto;
        padding-top: 50px;

    }
}



@media (max-width: 768px) {
    #intro, #equipo {
        width: 90% !important;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;

    }

    #equipo p{
        display: none;
    }

    .bg-contact{
        
        top: -110;
    
    }
    
}

@media (max-width: 576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}